body {
    background-color: #1e3a8a; /* Azul forte */
    color: white;
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #ffeb3b; /* Amarelo */
}

.proteccion {
    background: rgba(255,255,255,0.2);
    padding: 10px;
    border-left: 5px solid #ffeb3b;
    border-radius: 5px;
}

img {
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px black;
}


